%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_tag url: sign_in_path do |f| 
        %header
          %h1 Sign in
        %fieldset
          .row
            = f.email_field :email, wrapper: { class: "col-sm-4" }
          .row
            = f.password_field :password, wrapper: { class: "col-sm-4" }
          .row
            = link_to "Forgot Password", '', class: "col-sm-4 forgot_password"
        %fieldset.form-group.action
          = f.submit "Sign in"
